body {
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.whole-main{
    display: flex;
    height: 60vw;
}

.left-main{
    width: 70%;
}

.right-main{
    width: 30%;
}

.right-main-top-btns{
    width: 100%;
}

.header{
    padding: 20px;
    width: 100vw;
    background-color: lavenderblush;
    text-align: left;
}
.header-text{
    font-family: Verdana, fangsong;
    font-size: 66px;
}

.info-button{
    float: right;
    margin: 20px;
}

.waytocall{
    position: relative;
    display: none;
}

canvas{
    margin-top: 20px;
}

.put-canvas-result{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: auto;
    height: 40px;
    background: white;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}

.canvas-result{
    font-size: xx-large !important;
}

.callmian{
    text-align: center;
}

.div-ask-num-to-call{
    display: none;
}

table{
    margin-top: 10vw;
}

/* ============================================================================== */

.start{
    width: 60%;
    padding: 10px;
}

.start img{
    width: 20px;
    height: 20px;
}

/* 所有按钮样式 */
/* ============================================================================== */

button {
    background-color: #318cf4;  
    color: #fff;
    
    border-style: none;
    border-radius: 100px;
    padding: 8px;
}

button [disabled]{
    background-color: #595959;  
}


* {
    box-sizing: border-box;
}
  
  /* 修复按钮样式 */
button {
    background-color: #318cf4;  
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 8px;
}
  
.input-div button {
    width: 16%;
    height: 35px;
    line-height: 35px;
    padding: 0 !important;
    border-radius: 0;
    margin-left: 4px;
}
  
.input-div input {
    width: 80%;
    height: 35px;
    line-height: normal;
    padding: 0 8px;
    vertical-align: top;
}

.input-div{
    margin-top: 10px;
}

.show-inputs{
    width: 100%;
}

img:not(.black-svg-img){
    filter: invert(100%)
}

.open-about{
    display: none;
}

.logging-window .window-maincontent{
    text-align: left;
}

/* 窗口样式 */
/* ============================================================================== */

.window-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #00000042;
    justify-content: center;
    align-items: center;
}

.window-body{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    height: 85%;
    width: 85%;
    text-align: center;
    overflow-y: scroll;
}
/* ------------------ */
.window-head{
    font-size: 30px;
}

.window-title{
    font-size: 30px;
    float: left;
}


.window-right-close-btn{
    float: right;
}
/* ------------------ */
.setting-maincontent{
    margin-top: 30px;
    text-align: left;
}
/* ------------------ */
.window-footer{
    position: fixed;
    left: 0;
    bottom: 40px;
    width: 100%;
}

textarea{
    resize: none;
}
